doctype html
html(lang="zh-cn", ng-app="myApp")
	head
		title myApp
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="mean spa")
		meta(name="author" content="thcloud")
		link(rel='stylesheet', href='/dist/css/main.min.css')
	body(ng-controller="adminCtrl" style="background: #eeeefe;")
		.container
			form.form-signin
				.form-group
					h1
						img(src="login.png")
				.form-group
					h1 Administrator
				.form-group
					label.sr-only(for="username") 用户名
					input.form-control(type="text", name="username", placeholder="用户名")
				.form-group
					label.sr-only(for="username") 密码
					input.form-control(type="text", name="username", placeholder="密码")
				button.btn.btn-lg.btn-primary.btn-block(type="submit") 登录

script(src='/dist/js/app.min.js')		
