extends layout

block content
	.container(ng-controller="state1Ctrl")
		.jumbotron
			h1 Error Page
			.alert.alert-danger(role="alert") 这是错误页示例，可以查查console有没有输出什么破玩意
			a.btn.btn-success.btn-lg(href="/") 试试跳到index