extends layout

block content	
	header.jumbotron.subhead
		.container
			h1 Index Page
			p.lead
				hr
			p.lead  这里可以随便说点介绍啊，公告啊一类的话
			p.lead  我们直接用这个页面显示所有的task了,或者可以根据tag来切换任务
	.container(ng-controller="indexCtrl")
		.row
			.col-sm-9
				.page-header(style="margin-top:0")
					h1 全部任务
				ul.list-group
					li.list-group-item(ng-repeat="task in tasks")
						h3.list-group-item-heading
							a(ng-href="/task/{{ task._id }}", ng-disabled="!redirectAble") {{ task.taskName }}
						p.list-group-item-text {{ task.description }}
			nav.col-sm-3
				ul.nav.list-group(style="margin-top: 18px;")
					li.list-group-item.active(data-toggle="tab", ng-click="toggleTag()") 全部
					li.list-group-item(data-toggle="tab", ng-repeat="tag in tags", ng-click="toggleTag(tag)") {{ tag.tagName }}
		nav(ng-show="false")
			ul.pagination
				li
					a(aria-label="Previous")
						span(aria-hidden="true") &laquo;
				li.active(data-toggle="tab")
					a 1
				li(data-toggle="tab")
					a 2
				li(data-toggle="tab")
					a 3
				li(data-toggle="tab")
					a 4
				li(data-toggle="tab")
					a 5
				li
					a(aria-label="Next")
						span(aria-hidden="true") &raquo;			