extends layout

block content
	header.jumbotron.subhead
		.container(ng-controller="indexCtrl")
			h1 Index Page
			p.lead  这是一个示例，可以查查console有没有输出什么破玩意
			a.btn.btn-success.btn-lg(href="/error") 试试跳到error
	.container(style="margin-bottom: 30px;")
		.page-header
			h1 里面填点东西
		.row
			.col-sm-4
				ul.list-group
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西

			.col-sm-4
				ul.list-group
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西

			.col-sm-4
				ul.list-group
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
	.container(style="margin-bottom: 30px;")
		.page-header
			h1 里面填点东西
		.row
			.col-sm-4
				ul.list-group
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西

			.col-sm-4
				ul.list-group
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西

			.col-sm-4
				ul.list-group
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
	.container(style="margin-bottom: 30px;")
		.page-header
			h1 里面填点东西
		.row
			.col-sm-4
				ul.list-group
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西

			.col-sm-4
				ul.list-group
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西

			.col-sm-4
				ul.list-group
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
	.container(style="margin-bottom: 30px;")
		.page-header
			h1 里面填点东西
		.row
			.col-sm-4
				ul.list-group
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西

			.col-sm-4
				ul.list-group
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西

			.col-sm-4
				ul.list-group
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
	.container(style="margin-bottom: 30px;")
		.page-header
			h1 里面填点东西
			a(name="123")
		.row
			.col-sm-4
				ul.list-group
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西

			.col-sm-4
				ul.list-group
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西

			.col-sm-4
				ul.list-group
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
					li.list-group-item 里面填点东西
