doctype html
html(lang="zh-cn")
	head
		title myApp
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="for fun")
		meta(name="author" content="thcloud")
		link(rel='stylesheet', href='/dist/css/main.min.css')
	body(ng-app="myApp")
		nav.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar", type="button")
						span.sr-only toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/") Graduation Project
				.navbar-collapse.collapse#navbar
					ul.nav.navbar-nav
						li.active(data-toggle="tab")
							a(href="/error") 主页
						li(data-toggle="tab")
							a(href="#about") 关于
						li(data-toggle="tab")
							a(href="#about") 联系我们
						li.dropdown(data-toggle="tab")
							a.dropdown-toggle(data-toggle="dropdown" role="button") 下拉菜单
							ul.dropdown-menu
								li
									a(href="#") Action
								li
									a(href="#") Another Action
								li
									a(href="#") Something else
								li.divider(role="separator")
								li.dropdown-header Nav header
								li
									a(href="#") Separated link
								li
									a(href="#") One more separated link
		
		block content
		
		footer.navbar.navbar-inverse
			a(name='about')
			.container
				.row.footer-top
					.col-sm-6.col-lg-6
						h2 开源代码
						p 
							| 网站开源，具体可以在 
							a(href="https://github.com/THCloud/MeanPro.git") 这个repo
							| 上查看
					.col-sm-6.col-lg-5.col-lg-offset-1
						.row.about
							.col-xs-4
								h3 关于
								ul.list-unstyled
									li
										a(href="/") 关于我们
									li
										a(href="/") 关于你们
									li
										a(href="/") 关于他们
							.col-xs-4
								h3 联系方式
								ul.list-unstyled
									li
										a(href="/") 新浪微博
									li
										a(href="/") 电子邮件
									li
										a(href="/") facebook
									li
										a(href="/") google+
							.col-xs-4
								h3 赞助商
								ul.list-unstyled
									li
										a(href="#") 灿姐
									li
										a(href="#") 德玛鞍山振宇四世
									li
										a(href="#") 帝都理工软院
									li
										a(href="#") 皇家马鞍山学院	
				hr
				.row.footer-bottom
					ul.list-inline.text-center
						li 
						li Copyright © 2016-2018 THCloud. All Rights Reserved
						li
script(src='/dist/js/app.min.js')