doctype html
html(lang="zh-cn", ng-app="myApp")
	head
		title myApp
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="mean spa")
		meta(name="author" content="thcloud")
		link(rel='stylesheet', href='/dist/css/main.min.css')
	body(ng-controller="layoutCtrl")
		nav.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar", type="button")
						span.sr-only toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/") Graduation Project
				.navbar-collapse.collapse#navbar
					form.navbar-form.navbar-right(name="userLoginForm", ng-submit="userLogin(credentials)", novalidate,ng-show="!currentUser")
						.form-group
							input.form-control(type="text", name="username", placeholder="用户名", required)
						.form-group
							input.form-control(type="password", name="password", placeholder="密码", required)
						button.btn.btn-success(type="submit", ng-disabled="userLoginForm.username.$invalid || userLoginForm.password.$invalid") 登录
					ul.dropdown-menu(ng-show="currentUser")
						li {{ currentUser }}
						li(ng-show="currentRole=='normal'")
							a(ng-href="/user/edit/{{id}}") 修改密码
						li(ng-show="currentRole=='admin'")
							a(ng-href="/user/edit") 添加用户
						li(ng-show="currentRole=='admin'")
							a(ng-href="/tag/edit") 添加标签
						li
							a(ng-click="logout()") 退出
		block content
		
		hr
		
		footer.navbar#about
			.container
				.row.footer-top
					.col-sm-6.col-lg-6
						h2 开源代码
						p 
							| 网站开源，具体可以在 
							a(href="https://github.com/THCloud/MeanPro.git") 这个repo
							| 上查看
					.col-sm-6.col-lg-5.col-lg-offset-1
						.row.about
							.col-xs-4
								h3 关于
								ul.list-unstyled
									li
										a(href="/about") 关于我们
									li
										a(href="/about") 关于你们
									li
										a(href="/about") 关于他们
							.col-xs-4
								h3 联系方式
								ul.list-unstyled
									li
										a(href="/") 新浪微博
									li
										a(href="/") 电子邮件
									li
										a(href="/") facebook
									li
										a(href="/") google+
							.col-xs-4
								h3 赞助商
								ul.list-unstyled
									li
										a(href="/") 赞助商1
									li
										a(href="/") 赞助商2
									li
										a(href="/") 赞助商3
									li
										a(href="/") 赞助商4
				hr
				.row.footer-bottom
					ul.list-inline.text-center
						li 
						li Copyright © 2016-2018 THCloud. All Rights Reserved
						li
script(src='/dist/js/app.min.js')