extends layout

block content	
	header.jumbotron.subhead
		.container
			h1 Tag Edit
			p.lead
				hr
			p.lead  标签编辑页面，可以添加或修改标签
	.container
		.page-header
			h1 标签编辑
		form
			.form-group
				label.form-control.col-sm-2(for="tagname") 标签名
				input.form-control.col-sm-5(name="username", type="text", placeholder="标签名")
			button.btn.btn-lg.btn-success(style="margin-right: 10px;", ng-show="pattern=='add'", ng-click="addTag()") 添加标签
			button.btn.btn-lg.btn-primary(style="margin-right: 10px;", ng-show="pattern=='edit'", ng-click="updateTag()") 修改标签
			button.btn.btn-lg.btn-danger(ng-show="pattern=='edit'", ng-click="deleteTag()") 删除标签		