extends layout

block content	
	header.jumbotron.subhead
		.container
			h1 {{ task.taskName }}
			p.lead
				hr
			p.lead  {{ task.description }}
	.container
		.page-header
			h1 任务详情
		.row
			.col-sm-2
				h4 任务名称
			.col-sm-10
				p {{ task.taskName }}
		.row		
			.col-sm-2
				h4 任务标签
			.col-sm-10
				p {{ task.tag }}
		.row
			.col-sm-2
				h4 任务状态
			.col-sm-10
				p {{ task.state }} 	
		.row
			.col-sm-2
				h4 任务描述
			.col-sm-10.well
				p {{ task.description }}
		.row
			.col-sm-2
				h4 任务进度
			.col-sm-10
				table.table.table-striped
					thead
						tr
							th #
							th Status Name
							th Reporter Name
							th State
					tbody
						tr(ng-repeat="status in task.statusName")
							td {{ $index+1 }}
							td {{ status }}
							td {{ task.reporters[$index] }}
							td 
								span.glyphicon.glyphicon-ok
						tr
							td {{ $index+1 }}
							td {{ statusName }}
							td {{ task.reporters[$index] }}
							td 待完成
		.row(style="margin-bottom: 30px;")					
			button.btn.btn-lg.btn-success(style="margin:0 10px;", ng-click="pushTask()", ng-show="userRole=='normal'") 我要push
			button.btn.btn-lg.btn-danger(style="margin-right: 10px;", ng-click="deleteTask()", ng-show="userRole=='admin'") 我要delete
			button.btn.btn-lg.btn-primary(ng-click="editTask()", ng-show="userRole=='admin'") 我要edit
			